<?xml version="1.0" encoding="UTF-8"?> <configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/exceptions.log</file>
        <encoder>
            <pattern>%date [%level] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="FATAL">
        <appender-ref ref="FILE" />
    </root>
</configuration>